html, body {
    background: #F0F0F0;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 900px;
    margin: auto;
}

header
{
    margin-left:35px;    
}

article
{
    padding:25px;    
}

fieldset
{
    border: 0px;
    display:inline;
    float:left;
    margin-top: 100px;
}

#datepicker
{
    float:left;
}

footer
{
    text-align: center;
    font-size: 70%;
    margin-top: 250px;
}
