html, body {
    background: #a4a4a4  url('/public/images/grayBackground.gif');
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 920px;
    height: 400px;
    margin: auto;
    color: #606060;
    text-shadow: 0px 2px 3px #cecece;
}

input.blur {
    color: #999;
}

header h1 {
	font-size:60px;
	margin-left: 15px;
}

fieldset {
    border: none;
    display:inline;
    margin-top: 100px;
    font-size: 30px;
}

#plus, #minus {
    width: 2.5em;
    height: 30px;
    font-size: 25px;
    text-align: center;
}

#plus_fieldset {
    float:right;
}

#minus_fieldset {
    float:left;
}

#datepicker {
    width: 315px;
    height: 3px;
    margin: 0px auto 0px auto;
}

footer {
    width:99%;
    display:inline;
    float:left;
    text-align: center;
    font-size: 80%;
    margin-top: 80px;
}

footer a {
    color: #606060;
}

footer a:hover {
    color: black;
}