html, body {
    background: #F0F0F0;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 900px;
    height: 400px;
    margin: auto;
}

fieldset {
    border: none;
    display:inline;
    float:left;
    margin-top: 100px;
}

#datepicker {
    width: 307px;
    height: 3px;
    margin: 0px auto 0px auto;
}

footer {
    width:100%;
    display:inline;
    float:left;
    text-align: center;
    font-size: 80%;
    margin-top: 100px;
}