#{extends 'main.html' /}
#{set title:'WhenWasIt?' /}

<div>
    <header>
        <h1>WhenWasIt?</h1>
    </header>

    <div type="text" id="datepicker"></div>

    <fieldset id="minus_fieldset">
        <span id="minus_date">${date}</span>
        <span>=</span>
        <input id="minus" value="" title="days"/>
        <span id="minus_sign">-</span>
    </fieldset>

    <fieldset id="plus_fieldset">
        <span id="plus_sign">+</span>
        <input id="plus" value="" title="days"/>
        <span>=</span>
        <span id="plus_date">${date}</span>
    </fieldset>

    <footer>
        <p>Compiled by <a href="http://twitter.com/torbjornvatn">@torbjornvatn</a></p>
    </footer>
    <script>

        var calculateAction = #{jsAction @Application.calculate() /}
        $("#plus").bind("keyup", updatePlusDate);
        $("#minus").bind("keyup", updateMinusDate);

        function updatePlusDate(event) {
            updateDate(event, "#plus");
        }

        function updateMinusDate(event) {
            updateDate(event, "#minus");
        }

        function updateDate(event, signId) {
            var sign = (signId == "#plus") ? "" : "-";
            if (event.which > 47 &&  event.which < 58 || event.which == 8) {
                $.post(calculateAction(), {'date': $("#datepicker").val(), 'extraDays': sign+$(signId).val()}, function(date) {
                    $(signId+"_date").text(date);
                }, "text");
            }
        }

                  
    </script>
</div>