<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Add or subtract days from a given date" />
        <meta name="keywords" content="date conversion calendar converter days counter" />
        <meta name="author" content="Torbjørn Vatn" />
        <meta charset="utf-8" />
        <link type="text/css" href="/public/javascripts/jquery-ui-1.8.custom/css/overcast/jquery-ui-1.8.custom.css" rel="Stylesheet" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.custom/js/jquery-ui-1.8.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/functions.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
    	  var pageTracker = _gat._getTracker("UA-8664648-3");
    	  pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <body>
        #{doLayout /}
    </body>
</html>
